.footer{
    background-color: darkgrey;
        margin-top: 10px;
        height: fit-content;
        justify-content: center;
        display: flex;
        /* Optional: Add background */
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}