<div class="signup-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <h2 *ngIf="!isEditMode" class="text-center">SIGN UP</h2>
        <h2 *ngIf="isEditMode" class="text-center">Edit Details</h2>

        <div class="form-group row">
            <div class="col-sm-3">
                <label>First Name </label>
                    <input type="text" name="firstname" [(ngModel)]="userData.firstname" class="form-control" required>

            </div>
            <div class="col-sm-3">
                <label>Last Name </label>
                <input type="text" class="form-control" name="lastname" [(ngModel)]="userData.lastname" required id="lastname"
                    placeholder="Enter lastname">
            </div>
            <div class="col-sm-3">
            <label>Profile Picture</label>
            <input type="text" class="form-control" name="profilePicture" id="profilePicture"  [(ngModel)]="userData.profilePicture">
        </div>
        <div class="col-sm-3">
            <img [src]="userData.profilePicture" alt="image">
        </div>

        <div class="col-sm-3">
            <label>Username</label>
        
            <input type="text" class="form-control" name="Username" [(ngModel)]="userData.Username" required id="Username"
                placeholder="Enter Username">
        </div>
        <div class="col-sm-3">
            <label>Bio </label>
            <input type="text" class="form-control" name="bio" [(ngModel)]="userData.bio" required id="bio"
                placeholder="Enter bio">
        </div>
        </div>

        <div class="form-group row">
            

        </div>
        

        <div>
            <button clas="text-right" type="submit" [disabled]="!loginForm.valid"
                class="btn btn-primary">Submit</button>

        </div>
    </form>
</div>