<div class="cotainer">
<div class="">
    <app-response/>
</div>

    <div *ngIf="posts.length>0">
        <div class="posts-container">
            <div class="posts" *ngFor="let post of posts">
                <div class="content" > 
                    <div class="profile" *ngFor="let userdetail of userdetails">
                        <ng-container *ngIf="post.userid === userdetail.userid">
                            <img  class="imgcls" [src]="userdetail.profilePicture" alt="">
                            <h4 >{{ userdetail.Username }}</h4>
                        </ng-container>
                    </div>
                    <div class="title">
                        <h6>{{ post.title }}</h6>
                    </div>

                    <!-- Image Carousel -->
                    <div *ngIf="post.imageurl && post.imageurl.length > 1" class="carousel">

                        <div class="carousel-images">
                            <img [src]="post.imageurl[post.currentIndex]" alt="Post Image" class="post-image" />
                        </div>
                        <button class="prev" (click)="prevSlide(post)">&#10094;</button>
                        <button class="next" (click)="nextSlide(post)">&#10095;</button>

                        <!-- Indicator Dots -->
                        <div class="dots-container">
                            <span *ngFor="let img of post.imageurl; let i = index" class="dot"
                                [class.active]="i === post.currentIndex" (click)="goToSlide(post, i)">
                            </span>
                        </div>
                        <div class="count">

                            <p>{{post.currentIndex+1}}/{{post.imageurl.length}} </p>
                        </div>
                    </div>

                    <!-- Single Image -->
                    <div *ngIf="post.imageurl && post.imageurl.length <= 1">
                        <img [src]="post.imageurl[0]" alt="Post Image" class="post-image" />
                    </div>

                    <p>{{ post.content }}</p>
                </div>

                <!-- Actions: Like, Comment, Share -->
                <div class="actions">
                    <hr>
                    <a *ngIf="!isLiked(post.id)" (click)="updateCount(post.id, true)">
                        <img class="profilepic" src="assets/like.png">
                        <span>{{ likedataa[post.id]?.clickCount }}</span>
                    </a>

                    <a *ngIf="isLiked(post.id)" (click)="updateCount(post.id, false)">
                        <img class="profilepic" src="assets/heart.png">
                        <span>{{ likedataa[post.id]?.clickCount }}</span>
                    </a>

                    <a (click)="comntsec(post.id)">
                        <img class="profilepic" src="assets/chat.png">
                        <span>{{ getCommentCount(post.id) }}</span>
                    </a>

                    <a (click)="sharePost(post.id)">
                        <img class="profilepic" src="assets/send.png">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="posts.length<=0">
        No Posts to display
    </div>


    <div class="modal-overlay" *ngIf="isModalOpen ">
        <div class="modal-content">
            <div class="row cmnthed bdr-btm">

                <div class="col-sm-8 cmt">Comments</div>
                <div class="close-button col-sm-3 text-right " (click)="closeModal()">Close <span> X</span> </div>
            </div>


            <div *ngIf="hasComments">
                <div *ngFor="let comment of filteredComments">
                    <div class="comments-container">
                        <div class="row" *ngFor="let userdetail of userdetails">
                            <div class="col-sm-11 row" *ngIf="comment.userId===userdetail.userid"  >
                                <div class="col-sm-2">
                                    <img  style="height: 50px; width: 50px;" [src]="userdetail.profilePicture">
                                </div>
                                <span class="col-sm-9">{{ comment.Username }}</span>
                                <p class="col-sm-9">
                                    {{ comment.comment }}
                                </p>
                            </div>

                            <ng-container *ngIf="comment.userId===userdetail.userid">
                                <div *ngIf="comment.userId === localId" class="col-sm-1">
                                    <span><img class="deletebtn" src="assets/delete.png" (click)="deleteComment(comment.id)" /></span>
                                </div>
                            </ng-container>


                        </div>
                    </div>
                    <p class="bdr-btm"></p>
                </div>
            </div>

            <!-- "No Comments" message -->
            <div *ngIf="!hasComments">
                <span>No Comments For this post</span>
            </div>

            <div class="row comntseccss">
                <div class="col-sm-10">
                    <input type="text" placeholder="Comment Here" [(ngModel)]="cmnttxt" class="form-control cmntinpt" (keydown.enter)="postcomment()" />
                </div>
                <div class="col-sm-2">
                    <a (click)="postcomment()"><img style="height: 35px; width: 35px;" src="assets\message.png"
                            alt="Send comment"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-overlay" *ngIf="issharepost">
        <div class="modal-content">
            <div class="row cmnthed bdr-btm">
                <div class="col-sm-8 cmt">Share List</div>
                <div class="close-button col-sm-3 text-right" (click)="clsshrpstmdl()">
                    Close <span> X</span>
                </div>
                
            </div>
    
        <div *ngIf="userdetails.length > 0">
            <div class="row background" *ngFor="let user of userdetails">
                <div class="col-sm-2 margin">
                    <img [src]="user.profilePicture" style="height: 50px; width: 50px;" />
                </div>
                <div class="col-sm-9 margin">
                    <p>{{ user.Username }}</p>
                    <input type="checkbox" class="checkbox" (change)="toggleUserSelection(user)" />
                </div>
            </div>
        </div>
        
        <button class="btn btn-secondary" (click)="sharePostToBackend()">Send</button>
         
            <div *ngIf="userdetails.length < 0">
                <p>No users available to share.</p>
            </div>
        </div>
    </div>


</div>