<div class="profile-container">
  <div class="profile-header row">
    <div class="row" *ngFor="let userdetails of userdata">
      <div class="col-sm-3">
        <img [src]="userdetails.profilePicture" class="post-image" />
        <span></span>
              <!-- <div>
          <input type="file" (change)="onFileSelected($event)">
          <button (click)="upload()" [disabled]="isUploading">Upload</button>
        
          <p *ngIf="isUploading">Uploading...</p>
          <img *ngIf="imageUrl" [src]="imageUrl" width="200" />
        </div> -->
      </div>
      <h3>{{userdetails.Username}} </h3>
      <p>{{userdetails.bio}}</p>
      <span class="btn btn-success" (click)="editProfile()">Edit Profile</span>
    </div>

  </div>

</div>
<hr>
<div class="user-posts ">
  <h3>My Posts</h3>
  <div *ngIf="userPosts.length > 0">
  <div class="grid-container">
    <div class="post-card" *ngFor="let post of userPosts">
      <div class="content">
        <div class="row" >
          <div class="col-sm-3 " >
          <ng-container  *ngFor="let userdetail of userdetails">
            <img  *ngIf="userdetail.userid === post.userid" [src]="userdetail.profilePicture" class="profpic" alt="profile picture">
          </ng-container>
          </div>
          <div class="col-sm-6 userdetails" >
            <ng-container  *ngFor="let userdetail of userdetails">
            <h4  *ngIf="userdetail.userid === post.userid" >{{userdetail.Username}}</h4>
          </ng-container>
          </div>
          
          <div class="col-sm-1 editpst"  title="Edit post" (click)="fetchPostById(post.id)">
            <img src="assets/write.png" class="editdot" />
          </div>
         
        </div>
  
        <div class="textcenter">
          <h6>{{ post.title }}</h6>
        </div>
  
        <!-- Image Carousel -->
        <div *ngIf="post.imageurl && post.imageurl.length > 1" class="carousel">
          <div class="carousel-images">
            <img [src]="post.imageurl[post.currentIndex]" alt="Post Image" />
          </div>
          <button class="prev" (click)="prevSlide(post)">&#10094;</button>
          <button class="next" (click)="nextSlide(post)">&#10095;</button>
        

        <!-- Indicator Dots -->
        <div class="dots-container">
          <span *ngFor="let img of post.imageurl; let i = index" class="dot" [class.active]="i === post.currentIndex"
            (click)="goToSlide(post, i)">
          </span>
        </div>
       <div class="count">
          <p>{{post.currentIndex+1}}/{{post.imageurl.length}} </p>
        </div>
        </div> 
        
        <!-- Display a single image if only one exists -->
        <div class="singleimg" *ngIf="post.imageurl && post.imageurl.length === 1">
          <img [src]="post.imageurl[0]" alt="Post Image" />
        </div>
        </div>

  
        <p>{{ post.content }}</p>
  
        <!-- Like & Comment Section -->
        <div class="row images">
          <hr>
          <a class="likeimage" *ngIf="post.clickCount>=1">
            <img class="profilepic" src="assets/heart.png">
            <span>{{post.clickCount}}</span>
          </a>
          <div *ngIf="post.clickCount<1">
            <a class="likeimage">
              <img class="profilepic" src="assets/like.png">
              <span>{{post.clickCount}}</span>
            </a>
          </div>
  
          <a (click)="comntsec(post.id)" class="likeimage">
            <img class="profilepic" src="assets/chat.png">
            <span>{{ getCommentCount(post.id) }}</span>
          </a>
  
          <a class="likeimage" (click)="sharePost(post.id)">
            <img class="profilepic" src="assets/send.png">
          </a>
        </div>
  
        <!-- Like Profiles -->
        <div class="justify" *ngIf="post.likeruserpropics" (click)="openlikeusers(post)">
          <div class="col-sm-1 propics" *ngFor="let likeuserid of post.likeusersdata| slice:0:3">
            <ng-container *ngFor="let userdetail of userdetails">
              <img *ngIf="userdetail.userid === likeuserid" class="likepropics" [src]="userdetail.profilePicture" />
            </ng-container>
          </div>
          <div class="col-sm-9" style="padding: 8px 0px 0px 10px;">
            <span *ngIf="post.likeruserpropics.length >3">&nbsp;& {{post.clickCount-3}} other's</span>
            <span>&nbsp;liked your post</span>
          </div>
        </div>
        
      </div>
    </div>
  </div>

    
  </div>

      <div class="modal-overlay" *ngIf="issharepost">
        <div class="modal-content">
          <div class="row cmnthed bdr-btm">
            <div class="col-sm-8 cmt">Share List</div>
            <div class="close-button col-sm-3 text-right" (click)="clsshrpstmdl()">
              Close <span> X</span>
            </div>
          </div>
      
          <div *ngIf="userdetails.length > 0">
            <div class="row background" *ngFor="let user of userdetails">
              <div class="col-sm-2 margin">
                <img [src]="user.profilePicture" style="height: 50px; width: 50px;" />
              </div>
              <div class="col-sm-9 margin">
                <p>{{ user.Username }}</p>
                <input type="checkbox" class="checkbox" (change)="toggleUserSelection(user)" />
              </div>
            </div>
          </div>
          
          <button class="btn btn-secondary" (click)="sharePostToBackend()">Send</button>
      
          <div  *ngIf="userdetails.length <= 0">
            <p>No users available to share.</p>
          </div>
        </div>
      </div>
<div class="modal-overlay" *ngIf="likeusers">
  <div class="modal-content" *ngIf="selectedPost">
    <div class="row cmnthed bdr-btm">
    
      <div class="col-sm-8 cmt ">Liked Users</div>
      <div class="close-button col-sm-3 text-right " (click)="closeModal()">Close <span> X</span> </div>
    </div>
  <div class="row d-flex align-items-start" *ngFor="let likeduser of selectedPost.likeusersdata">
    <!-- Left Column: Profile Pictures -->
    <ng-container  *ngFor="let userdetail of userdetails">
    <div *ngIf="userdetail.userid === likeduser">
      <div class="col-sm-2 d-flex flex-column"  >
        <img  class="likestyle" [src]="userdetail.profilePicture" />
      </div>
      <!-- Right Column: Usernames -->
      <div class="col-sm-10 d-flex flex-column ">
        <span class="likestyle" style="white-space: nowrap;" >{{userdetail.Username}}</span> 
      </div>
    </div>
    </ng-container>

  </div>
      
    </div>
    
  </div>


  <div *ngIf="userPosts.length < 0">
    <p>No posts available.</p>
    <a class="btn btn-primary" [routerLink]="['/createposts']" >Do You Wanna Create One</a>
  </div>

  <div class="modal-overlay" *ngIf="isModalOpen ">
    <div class="modal-content">
      <div class="row cmnthed bdr-btm">

        <div class="col-sm-8 cmt">Comments</div>
        <div class="close-button col-sm-3 text-right " (click)="closeModal()">Close <span> X</span> </div>
      </div>

        <div *ngIf="hasComments">
          <div *ngFor="let comment of filteredComments">
            <div class="comments-container">
              <div class="row" style="min-height: 30px;">
                <div class="col-sm-11 row">
                  <div class="col-sm-2">
                    <img style="height: 50px; width: 50px;" [src]="comment.profilePicture">
                  </div>
                  <span class="col-sm-10">{{ comment.Username }}</span>
                  <div class="col-sm-10">
                    {{ comment.comment }}
                  </div>
                </div>
                <div class="col-sm-1">
                  <span><img class="deletebtn" src="assets/delete.png" (click)="deleteComment(comment.id)" /></span>
                </div>
        
              </div>
              <p class="bdr"></p>
            </div>
          </div>
        </div>

      <!-- "No Comments" message -->
      <div *ngIf="!hasComments">
        <span>No Comments For this post</span>
      </div>

      <div class="row comntseccss">
        <div class="col-sm-10">
          <input type="text" placeholder="Comment Here" [(ngModel)]="cmnttxt" class="form-control cmntinpt" />
        </div>
        <div class="col-sm-2">
          <a (click)="postcomment()"><img style="height: 35px; width: 35px;" src="assets\message.png"
              alt="Send comment"></a>
        </div>
      </div>
    </div>
  </div>
